@keyframes CircleProgress {
    from {
       stroke-dashoffset: 440;
     }
     to {
       stroke-dashoffset: 0;
     }
   }

@keyframes CircleProgressBack {
from {
    stroke-dashoffset: 0;
    }
    to {
    stroke-dashoffset: 440;
    }
}



.progress-circle {
    stroke-dasharray: 440;
    stroke-dashoffset: 0;
    animation: CircleProgress 10s linear;
}

.progress-infinite {
    stroke-dasharray: 440;
    stroke-dashoffset: 0;
    animation: CircleProgress 4s linear infinite;
}

.progress-infinite-back {
    stroke-dasharray: 440;
    stroke-dashoffset: 0;
    animation: CircleProgressBack 4s linear infinite;
}

.graph-active {
    transform: scale(1.3);
}

.circle-active {
    opacity: 0.3;
}


#floated{
    float: left;
    width: 150px;
    background: red;
}




