@font-face {
  font-family: 'Rajdhani-SemiBold';
  src: local('Rajdhani-Semibold'), url(./fonts/Rajdhani-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Alphacentauri';
  src: local('Alphacentauri'), url(./fonts/Alphacentauri.ttf) format('truetype');
}




body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rajdhani-SemiBold", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.donut{
  font-size: 20px;
  font-family: 'Julius Sans One', sans-serif;
  margin-top: 50px;
}

.centermode {
  width: 100vw;
  padding-top: 30px;
  height: 550px;
}

.slide img{
  width: 250px;
  
  margin: 0 auto;
}

.slide {
  transform: scale(0.4);
  transition: transform 300ms;
  opacity: 0.5;
}

.activeSlide {
  transform: scale(1.2);
  opacity: 1;
  
}

.arrow {
  
  position: absolute;
  cursor: pointer;
  z-index: 10;
}

.next {
  right: 30%;
  top: 40%;
}

.prev {
  left: 30%;
  top: 40%;
}

@media only screen and (max-width: 1100px){
  .slide img {
    width: 30vw;
   
  }
  
  .next {
    right: 20%;
    top: 30%;
  }
  
  .prev {
    left: 20%;
    top: 30%;
  }
  
}
