@font-face {
  font-family: 'Rajdhani-SemiBold';
  src: local('Rajdhani-Semibold'), url(./fonts/Rajdhani-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Alphacentauri';
  src: local('Alphacentauri'), url(./fonts/Alphacentauri.ttf) format('truetype');
}




body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rajdhani-SemiBold", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.donut{
  font-size: 20px;
  font-family: 'Julius Sans One', sans-serif;
  margin-top: 50px;
}

.centermode {
  width: 100vw;
  padding-top: 20px;
  height: 550px;
}

.slide img{
  width: 200px;
  border-radius: 20px;
  margin: 0 auto;
  
}

.slide {
  transform: scale(0.4);
  transition: transform 300ms;
  opacity: 0.5;
}

.activeSlide {
  transform: scale(1);
  opacity: 1;
  
  
}

.arrow {
  
  position: absolute;
  cursor: pointer;
  z-index: 10;
}

.next {
  right: 30%;
  top: 40%;
}

.prev {
  left: 30%;
  top: 40%;
}

@media only screen and (max-width: 1100px){
  .slide img {
    width: 120px;
  }

  .centermode{
    padding-top: 40px;
  }
  
  .next {
    right: 20%;
    top: 40%;
  }
  
  .prev {
    left: 20%;
    top: 40%;
  }
  
}

.wave {
  width: 120%;
  position: absolute;
  animation: wave linear 8s infinite;
  
}

.wave2 {
  width: 110%;
  position: absolute;
  animation: wave2 linear 12s infinite;
  
}

.wave3 {
  width: 110%;
  position: absolute;
  animation: wave3 linear 12s infinite;
  
}


@keyframes wave {
  0% {
    transform: translateX(-10%) rotate(180deg);
  }
  50% {
    transform: translateX(-2%) rotate(180deg);
  }
  100% {
    transform: translateX(-10%) rotate(180deg);
  }
}

@keyframes wave2 {
  0% {
    transform: translateX(-10%) rotate(180deg);
  }
  50% {
    transform: translateX(-2%) rotate(180deg);
  }
  100% {
    transform: translateX(-10%) rotate(180deg);
  }
}

@keyframes wave3 {
  0% {
    transform: translateX(-10%) rotate(180deg);
  }
  50% {
    transform: translateX(-2%) rotate(180deg);
  }
  100% {
    transform: translateX(-10%) rotate(180deg);
  }
}
